<div class="container">
  <div class="row">
    <div class="jumbotron centered" id="homeJumbotron">
      <h1>Welcome to Firebase University</h1>
      <p>The Cool Kids Serverless Destination....</p>

      <p>
        <img src="assets/img/firebase-logo.png" height="80" alt="">
      </p>
      <p>
        <a class="btn btn-success btn-lg" routerLink="/register" role="button">Register</a>
        <a class="btn btn-primary btn-lg" routerLink="/login" role="button">Login</a>
      </p>
    </div>
  </div>
</div>

