<form>
  <!--<div class="form-group">
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Full Name">
  </div>-->
  <div class="form-group">
    <input type="email" [(ngModel)] = "formData.email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group">
    <input type="password" [(ngModel)] = "formData.password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  
  <button type="submit" class="btn btn-primary btn-block" (click)="submitForm(formData)">{{buttonText}}</button>
</form>
